<div class="rest-timer-container">
  <div class="timer-content">
    <div class="timer-display">
      <div class="time">{{ formatTime(timeRemaining()) }}</div>
      <div class="label">Rest {{ formatTime(restDuration) }}</div>
    </div>

    <button
      class="btn btn-icon dismiss-button"
      (click)="dismiss()"
      title="Dismiss timer">
      <app-svg-icon name="close" size="lg"></app-svg-icon>
    </button>
  </div>

  <div class="progress-bar" [style.width.%]="progressValue()"></div>
</div>
